/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,800,400);*/
@font-face {
	font-family: 'ABeeZee';
	src: url('../fonts/ABeeZee/abeezee-regular-webfont.eot');
	src: url('../fonts/ABeeZee/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ABeeZee/abeezee-regular-webfont.woff2') format('woff2'),
	url('../fonts/ABeeZee/abeezee-regular-webfont.woff') format('woff'),
	url('../fonts/ABeeZee/abeezee-regular-webfont.ttf') format('truetype'),
	url('../fonts/ABeeZee/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/OpenSans/OpenSans-ExtraBold.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
}*/
* {
	margin: 0;
	padding: 0;
}

.float-left {
	float: left;
}
.overflow-hidden, .float-parent {
	overflow: hidden;
}
.flex {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
}
.flex-child {
	flex: 1;
}
.inline-block-with-v {
	display: inline-block;
	vertical-align: top;
}
body {
	color: rgba(35,35,35, 1);
	font: normal 14px/1 'ABeeZee';
	background: rgb(235,235,235);
}
button {
	color: rgba(35,35,35, 1);
	font: normal 1em/1 'ABeeZee';
}
table {
	border-spacing: 0;
}
table.form-table tr td > div {
	padding: 10px;
}
table.form-table input[type='email'],table.form-table input[type='password'],table.form-table input[type='text'],table.form-table textarea {
	border: solid 1px rgba(200,200,200,1);
	border-top: solid 1px rgba(190,190,190,1);
	outline: none;
	background: none;
	font: normal 1em 'ABeeZee';
	border-radius: 2px;
	padding: 10px 20px;
	box-shadow: inset 0 0 10px rgba(200,200,200,1);
	box-sizing: border-box;
	height: 41px;
	width: 440px;
}
table.form-table input[type='email']:focus,table.form-table input[type='password']:focus,table.form-table input[type='text']:focus,table.form-table textarea:focus {
	box-shadow:inset 0 0 20px rgba(46, 139, 196, .4);
	border-color: rgba(46, 139, 196, .6);
	-webkit-transition: box-shadow .4s, border-color .4s;
	transition: box-shadow .4s, border-color .4s;
}
table.form-table input[type='submit'] {
	cursor: pointer;
	border: solid 1px rgba(200,200,200,1);
	border-top: solid 1px rgba(190,190,190,1);
	outline: none;
	font: normal 1em 'ABeeZee';
	border-radius: 2px;
	padding: 10px 20px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250, 250,250,1) 0%, rgba(220, 220,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250, 250,250,1)), color-stop(100%,rgba(220, 220,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	box-sizing: border-box;
	height: 41px;
}
a {
	color: rgba(46, 139, 196, 1);
}
a:hover {
	color: rgb(61, 196, 94);
}
h1, h2, h3, h4, h5, h6 {
	padding: 10px 15px;
	margin: 15px 0;
	color: rgba(0,0,0,.7);
	text-shadow: 0 0 10px rgba(0,0,0,.6);
	border-bottom: dotted 1px rgba(0,0,0,.3);
}
/* ######################################### */

#header {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
	background: white;
	border-bottom: solid 1px rgba(0, 0, 0, 0.25);
}
#header > #header-in {
	width: 1000px;
	margin: 0 auto;
}
#header > #header-in #logo-div {
	width: 90px;
	height: 90px;
	padding: 5px;
}
#header > #header-in #category-div {
	width: 700px;
	height: 100px;
}
#header > #header-in #category-div #search-div {
	padding: 12px 0;
	max-height: 65px;
}
#header > #header-in #category-div #search-div #search-form {
	display: block;
	width: 601px;
	margin: 0px auto;
}
#header > #header-in #category-div #search-div #search-form > * {
	border: none;
	border-bottom: solid 1px rgba(200,200,200,1);
	border-top: solid 1px rgba(190,190,190,1);
	outline: none;
	background: none;
	font: normal 1em 'ABeeZee';
	box-sizing: border-box;
	height: 41px;
}
#header > #header-in #category-div #search-div #search-form > *:nth-child(1) {
	border-left: solid 1px rgba(200,200,200,1);
}
#header > #header-in #category-div #search-div #search-form > *:nth-child(2) {
	border-left: solid 1px rgba(200,200,200,1);
	border-right: solid 1px rgba(200,200,200,1);
}
#header > #header-in #category-div #search-div #search-form > *:nth-child(3) {
	border-right: solid 1px rgba(200,200,200,1);
}
#header > #header-in #category-div #search-div #search-form #search-category {
	cursor: pointer;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 9px 20px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250, 250,250,1) 0%, rgba(220, 220,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250, 250,250,1)), color-stop(100%,rgba(220, 220,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	width: 169px;
}
#header > #header-in #category-div #search-div #search-form #search-criteria {
	padding: 10px 20px;
	-webkit-transition: box-shadow .25s;
	transition: box-shadow .25s;
	width: 342px;
}
#header > #header-in #category-div #search-div #search-form #search-criteria:focus {
	box-shadow: inset 0 0 15px rgba(46,139,196,.4);
	border-color: rgba(46,139,196,.6);
	-webkit-transition: box-shadow .25s;
	transition: box-shadow .25s;
}
.search-focus {
	border-color: rgba(46,139,196,.6) !important;
	background: linear-gradient(to bottom,  rgba(0, 139,196,.05) 0%,rgba(0, 139,196,.15) 100%) !important; /* W3C */
}
#header > #header-in #category-div #search-div #search-submit {
	padding: 10px 20px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250, 250,250,1) 0%, rgba(220, 220,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250, 250,250,1)), color-stop(100%,rgba(220, 220,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250, 250,250,1) 0%,rgba(220, 220,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
/*	-webkit-transition: box-shadow .25s;-moz-transition: box-shadow .25s;-ms-transition: box-shadow .25s;-o-transition: box-shadow .25s;transition: box-shadow .25s; */
	width: 90px;
}

#header > #header-in #category-div ul#category {
	list-style-type: none;
	width: 493px;
	margin: 0 auto 0 auto;
	position: relative;
}
#header > #header-in #category-div ul#category > li {
	margin-left: 15px;
	font-size: 1em;
}
#header > #header-in #category-div ul#category > li.yellow > div:first-of-type {
	border-bottom: solid 5px #d6a400;
}
#header > #header-in #category-div ul#category > li.orange > div:first-of-type {
	border-bottom: solid 5px #da5800;
}
#header > #header-in #category-div ul#category > li.green > div:first-of-type {
	border-bottom: solid 5px #009d67;
}
#header > #header-in #category-div ul#category > li.blue > div:first-of-type {
	border-bottom: solid 5px rgba(0, 147, 196, 1);
}
#header > #header-in #category-div ul#category > li > div:first-of-type {
	cursor: pointer;
/*	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px; */
	padding: 10px;
	padding-bottom: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,0);
	-webkit-transition: box-shadow .4s, border-color .4s;
	transition: box-shadow .4s, border-color .4s;
}
#header > #header-in #category-div ul#category > li:hover > div:first-of-type {
	box-shadow: 0 0 13px rgba(0,0,0,.6);
}

#header > #header-in #category-div ul#category > li.yellow:hover > div:first-of-type{
/*	box-shadow: 0 0 11px #d6a400;
*/	color: #d6a400;
}
#header > #header-in #category-div ul#category > li.orange:hover > div:first-of-type{
/*	box-shadow: 0 0 11px #da5800;
*/	color: #da5800;
}
#header > #header-in #category-div ul#category > li.green:hover > div:first-of-type{
/*	box-shadow: 0 0 11px #009d67;
*/	color: #009d67;
}
#header > #header-in #category-div ul#category > li.blue:hover > div:first-of-type{
/*	box-shadow: 0 0 11px rgba(0, 147, 196, 1);
*/	color: rgba(0, 147, 196, 1);
}

#header > #header-in #category-div ul#category > li:hover > div:first-of-type:hover{
	text-decoration: underline;
}
#header > #header-in #category-div ul#category > li:hover > div:first-of-type {
	border-color: white;
	-webkit-transition: box-shadow .3s linear .4s, border-color .3s linear .4s, color 0s linear .4s;
	transition: box-shadow .3s linear .4s, border-color .3s linear .4s, color 0s linear .4s;
}
#header > #header-in #category-div ul#category > li:first-child {
	margin-left: 0;
}
#header > #header-in #category-div ul#category > li:hover > div:nth-child(2) {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity .3s linear .4s, visibility 0s linear .4s;
	transition: opacity .3s linear .4s, visibility 0s linear .4s;
}
#header > #header-in #category-div ul#category > li > div:nth-child(2) {
	background: white;
	position: absolute;
	visibility: hidden;
	top: 35px;
	opacity: 0;
	-webkit-transition: opacity .3s linear 0s, visibility 0s linear .3s;
	transition: opacity .3s linear 0s, visibility 0s linear .3s;
	right: 0px;
	left: -1px;
	padding: 20px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	border-left: solid 1px rgba(0, 0, 0, 0.2);
	border-right: solid 1px rgba(0, 0, 0, 0.2);
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: 0 10px 15px rgba(0,0,0,.5);
}
#header > #header-in #category-div ul#category > li > div:nth-child(2) ul {
	list-style-type: none;
}
#header > #header-in #login-div {
	width: 200px;
	height: 100px;
}
#slide-adjacent {
	width: 378px;
	padding: 0 0 0 20px;
}
#slide-adjacent > * {
	cursor: pointer;
	width: inherit;
	height: 163px;
	overflow: hidden;
	position: relative;
}
#slide-adjacent > * > div:hover {
    left: 0;
    -webkit-transition: left 1s;
    transition: left 1s;
}
#slide-adjacent > :last-child {
	margin-top: 13px;
}
#slide-adjacent > * > div {
	width: 756px;
	height: inherit;
	position: absolute;
	left: -378px;
	top: 0;
	-webkit-transition: left 1s;
	transition: left 1s;
}
#slide-adjacent > * > div > div {
	height: inherit;
	width: 378px;
	box-sizing: border-box;
	padding: 10px;
	box-shadow: inset 0 0 25px rgba(0,0,0,.55);
}
#slide-adjacent > * > div > .detail {
	box-shadow: inset 0 0 25px rgba(0,0,0,.5), inset 0 0 25px rgba(0,0,0,.5);
}
main#main {
	position: relative;
	z-index: 10;
	display: block;
}
main > #main-in {
	width: 1000px;
	margin: 0 auto;
	padding: 100px 0 25px 0;
}
main > #main-in > #slideshow {
	width: 600px;
	height: 337px;
	background: #ffffff;
	overflow: hidden;
	position: relative;
	border: solid 1px rgba(0,0,0,.3);
}
main > #main-in > #slideshow > #long-div {
	width: 3000px;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
}
main > #main-in > #slideshow > #long-div > .slide {
	width: 600px;
	height: inherit;
	overflow: hidden;
	position: relative;
}
main > #main-in > #slideshow > #slide-prev {
	left: 0;
}
main > #main-in > #slideshow > #slide-next {
	right: 0;
}
main > #main-in > #slideshow > .slide-next-prev {
	position: absolute;
	font-size: 50px;
	background: rgba(255,255,255,1);
	opacity: 0;
	padding: 10px;
	top: 133px;
	cursor: pointer;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}
main > #main-in > #slideshow:hover > .slide-next-prev {
	opacity: .4;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}
main > #main-in > #slideshow:hover > .slide-next-prev:hover {
	opacity: .8;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}
main > #main-in > #slideshow > #long-div > .slide > .slide-img {
	max-width: 600px;
	max-height: 338px;
}
main > #main-in > #slideshow > #long-div > .slide > .item-description {
	position: absolute;
	overflow: hidden;
	max-height: 28px;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 10px 20px;
	color: rgba(255,255,255,.9);
	background: rgba(0,0,0,.5);
}









#footer {
	margin: 10px 0 0 0;
	box-shadow: 0 0 20px rgba(0,0,0,1);
	background-color: rgba(0,0,0,.7);
	color: rgba(255,255,255,.8);
}
#footer > #footer-in {
	padding: 10px 0;
	width: 1000px;
	margin: 0 auto;
}














#below-slide {
	padding: 0;
	color: #ffffff;
}
#below-slide > article {
	width: 184px;
	height: 184px;
	margin: 0 0 0 20px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
/*	box-shadow: 0 0 10px rgba(0,0,0,.5); */
}
#below-slide > article:first-of-type {
	margin: 0 0 0 0;
}
#below-slide > article > div {
	border-radius: 92px;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	box-shadow: inset 0 0 25px rgba(0,0,0,.7), inset 0 0 25px rgba(0,0,0,.7);
	-webkit-transition: border-radius 1s;
	transition: border-radius 1s;
}
#below-slide > article > .image > img {
	width: 184px;
	height: 184px;
	border-radius: 92px;
	background-size: 184px 184px;
	box-shadow: inset 0 0 25px rgba(0,0,0,.75);
	-webkit-transition: border-radius 1s;
	transition: border-radius 1s;
}
#below-slide > article:hover > .image > img {
	border-radius: 15px;
	-webkit-transition: border-radius 1s;
	transition: border-radius 1s;
}
#below-slide > article > .detail {
	opacity: 0;
	border-radius: 92px;
	-webkit-transition: opacity .5s, border-radius 1s;
	transition: opacity .5s, border-radius 1s;
	padding: 10px;
	background-color: rgba(0,0,0,.8);
}
#below-slide > article:hover > div {
	border-radius: 15px;
	opacity: 1;
	-webkit-transition: opacity .5s linear .6s, border-radius 1s;
	transition: opacity .5s linear .6s, border-radius 1s;
}
.back-red {
	background: rgba(185, 10, 0,1 );
}
.back-blue {
	background: rgba(0,147,196,1);
}
.back-green {
	background: rgba(100,196,0,1);
}
.back-yellow {
	background: rgba(214, 164, 0, 1);
}
.back-black {
	background: rgba(0, 0, 0, 1);
}









#overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(255,255,255,.8);
	z-index: 1000;
}
#overlay > div {
	background: white;
	box-shadow: 0 0 25px rgba(0,0,0,.6);
	min-height:100px;
	width: 500px;
	margin: 0 auto;
}
#overlay > div > div:first-of-type {
	overflow: hidden;
	background: rgba(0,0,0,.05);
	border-bottom: solid 1px rgba(0,0,0,.2);
}
#overlay #overlay-title {
	float: left;
	padding: 10px 20px;
	width: 406px;
	font-weight: bolder;
	text-align: center;
}
#overlay #overlay-close {
	cursor: pointer;
	color: red;
	font-weight: bolder;
	float: left;
	padding: 10px 23px;
	width: 7px;
	border-left: solid 1px rgba(0,0,0,.15);
}
#overlay #overlay-content {
	padding: 10px 20px;
}
#login-div > div {
	width: 153px;
	margin: 31px auto;
}

#login-div > div > button {
	box-sizing: border-box;
	width: 153px;
	height: 36px;
	outline: none;
	color: rgba(0, 147, 196, 1);
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 2px;
	border: solid 1px rgba(0, 147, 196, .5); /* #1e648c */
	background: rgba(0,147,196,.05);
	-webkit-transition: box-shadow .25s;
	transition: box-shadow .25s;
}

#login-div > div > button:hover {
	-webkit-transition: box-shadow .25s;
	transition: box-shadow .25s;
	box-shadow: 0 0 15px rgba(0,147,196,.5);
}