#pass-strength {
    display: block;
    width: 100px;
    height: 10px;
    border: solid 1px rgba(0,0,0,.2);
}
#inner-pass-strength {
    height: inherit;
}
#inner-pass-strength.one {
    width: 25px;
    background: linear-gradient(to right, rgb(206, 0, 2) 0%, rgba(206, 0, 2, .8) 50%, rgb(206, 0, 2) 100%);
}
#inner-pass-strength.two {
    width: 50px;
    background: linear-gradient(to right, rgb(190, 94, 27) 0%, rgba(190, 94, 27, .8) 50%, rgb(190, 94, 27) 100%);
}
#inner-pass-strength.three {
    width: 75px;
    background: linear-gradient(to right, rgb(202, 192, 11) 0%, rgba(202, 192, 11, .7) 50%, rgb(202, 192, 11) 100%);
}
#inner-pass-strength.four {
    width: 100px;
    background: linear-gradient(to right, rgb(102, 150, 0) 0%, rgba(102, 150, 0, .7) 50%, rgb(102, 150, 0) 100%);
}

#pass-match {
    font-size: 1.3em;
}

main {
    width: 783px;
    background: rgba(255,255,255, .4);
    border: solid 1px rgba(46, 139, 196, 1);
    box-shadow: 0 0 25px rgba(46, 139, 196, .9);
    margin: 125px auto 25px auto;
}

#register-form {
    padding: 25px;
}
