#filters {
    width: 219px;
    padding: 0 30px 0 0;
    margin: 0 30px 0 0;
    border-right: dotted 1px rgba(0,0,0,.5);
}
#filters > div {
    margin: 5px 0 0 0;
}
#filter-text {
    margin: 0 !important;
    font-weight: 900;
    font-size: 1.5em;
}
.filter-heading {
    font-weight: 900;
    font-size: 1.2em;
    padding: 0 0 2px 0;
    margin: 20px 0 2px 0 !important;
    border-bottom: dotted 1px rgba(0,0,0,.7);
}
#search-container {
    width: 720px;
}
.search-result:nth-child(1), .search-result:nth-child(2) {
    margin-top: 0 !important;
}
.search-result {
    cursor: pointer;
    width: 350px;
    margin: 10px 0;
    height: 150px;
    box-shadow: 0 0 15px rgba(0,0,0,.7);
    display: inline-block;
    background: white;
    overflow: hidden;
}
.search-result:nth-child(odd) {
    margin-right:20px;
}
.search-result:hover .product-name{
    color: rgb(61, 196, 94);
}